<div class="side-search">
  <p>ジャンル検索</p>
</div>

<div class="top-message">
  <h1>ようこそながのCAKEへ！</h1>
  <p>このサイトは、ケーキ販売のECサイトになります。</p>
  <p>会員ではない方も商品の閲覧はできますが、</p>
  <p>購入には会員登録が必要となります。</p>
</div>

<div class="items">
  <h2>新着商品</h2>
  
  <!--ここにアイテム-->
  
</div>