.fa-plus-circle {
  font-size: 25px;
  color: gray;
  text-decoration: none;
}

.fa-plus-circle:hover {
  font-size: 25px;
  color: gray;
  text-decoration: none;
}

.item-link {
  color: #212529;
  text-decoration:underline;
}

.item-link:hover {
  color: #212529;
  text-decoration:underline;
}


.form-group > label {
  width: 200px; 
}