.fa-plus-circle {
  font-size: 25px;
  color: gray;
  text-decoration: none;
}

.fa-plus-circle:hover {
  font-size: 25px;
  color: gray;
  text-decoration: none;
}




// .form-group > label {
//   width: 200px; 
// }