<div class="container">

  <div class="row">
    <h4><span>　商品一覧　</span></h4>
  </div>

  <div class="row p-5">
    <% @items.each do |item| %>
    <div class="col">
      <div class="item_image">
        <%= attachment_image_tag item, :image, :fill, 200, 100 %>
      </div>
      <div class="item_name">
        <%= item.name %>
      </div>
      <div class="item_price">
        <%= item.with_tax_price %>
      </div>
    </div>
    <% end %>
  </div>

</div>